*,
*:before,
*:after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}
input,
select,
textarea {
    background-color: transparent;
    outline: none;
}
button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}
body {
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
}
.header-container {
    background-color: #000;
    color: #fff;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo {
    font-size: 40px;
    font-weight: bold;
}
.header-logo a {
    text-decoration: none;
    color: #fff;
}
.header-nav-list {
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.header-nav-link,
.user-link {
    text-decoration: none;
    color: #fff;
    padding: 12px 18px;
    border-radius: 10px;
}
.header-nav-link:hover,
.user-link:hover {
    background-color: gray;
}
.header-search-input {
    background-color: #fff;
    padding: 10px 20px;
    /* border: 1px solic #fff; */
    border-radius: 10px;
}
.header-search-submit {
    background-color: #fff;
    padding: 12px;
    border-radius: 10px;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}
